page-my-shop {

}


.add-rounded ion-card{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


.delete-color {
  color: white;
  font-size: 35px;
  margin-top: 2rem;
}

.del-i {
  width: 100%;
  position: relative;
  top: 15px;
  font-size: 20px;
  margin-right: 3rem;
}

.view-i {
  width: 100%;
  position: relative;
  top: 15px;
  font-size: 20px;
  margin-left: 2rem;
  /*margin-right: 1rem;*/
}

.i-ab {
  font-size: 20px;
}
