<!--
  Generated template for the MyShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mes boutiques</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen >
  <ion-grid class="empty_market" *ngIf="Markets" align="center">
    <ion-icon name="home" *ngIf="Markets.length === 0"></ion-icon>
    <h1 *ngIf="Markets.length === 0">Vous n'avez aucune boutique</h1>
    <button *ngIf="Markets.length === 0" ion-button color="lastagram" (click)="goToCreatedMarket()">Créer une boutique</button>
  </ion-grid>
  <ion-grid class="market-card-grid" >
    <ion-row class="ard-market card-background-page" *ngFor="let market of Markets" >

      <ion-card (click)="goToMarket(market.id)">
        <img src="{{ market.image_cover }}" class="img-couverture"/>
        <!--<button ion-button small color="light" class="vis"  (click)="goToMarket(market.id)">VISITER</button>-->
        <ion-card-content class="btq-content">
          <ion-card-title>
            <ion-row>
              <ion-col class="az" col-7>
                <span style="font-weight: 400;">
                  {{ market.name | uppercase }}
                </span>
              </ion-col>
              <ion-col col-5 class="btn-like az">
            &nbsp;
            <span class="b my-shop">
              {{ market.subscribers_count }} Abonné(s)
            </span>
              </ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card-content>
      </ion-card>

      <!--<ion-card>
        <img src="{{ market.image_cover }}"/>
        <div class="card-title">
          {{ market.name | uppercase }}
        </div>
        <div class="card-title2">
          {{ market.subscribers_count }} Abonné(s) &nbsp;

        </div>
        <div class="card-subtitle v2">
          <ion-icon  col-2>
            <button ion-button round slot="icon-only" small color="light" class="del-i" (click)="DeleteMarket(market.id)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-icon>
          <ion-icon  col-2>
            <button ion-button round slot="icon-only" small color="light" class="view-i" (click)="goToMarket(market.id)">
              <ion-icon name="eye" ></ion-icon>
            </button>
          </ion-icon>
        </div>
      </ion-card>-->


      <!--<ion-card>
        <ion-card-header>
          <span class="text-header-card">{{ market.name | uppercase }}</span>
          <span class="text-header-card abo">{{ market.subscribers_count }} Abonnés &nbsp;  </span>
        </ion-card-header>
        <ion-card-content>
          <ion-row >
            <ion-icon  col-2>

            </ion-icon>
            <ion-icon  col-2>

            </ion-icon>
            <ion-icon  col-2>

            </ion-icon>
            <ion-icon  col-2>
              <button ion-button round slot="icon-only" small color="light" class="del-i" (click)="DeleteMarket(market.id)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-icon>
            <ion-icon  col-2>
              <button ion-button round slot="icon-only" small color="light" class="view-i" (click)="goToMarket(market.id)">
                <ion-icon name="eye" ></ion-icon>
              </button>
            </ion-icon>
          </ion-row>
        </ion-card-content>
      </ion-card>-->
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!--<ion-row class="card-market add-rounded">
      <ion-card>
        <ion-card-header>
          <span class="text-header-card">ROSAMI COTE DIVOIRE</span>
          <span class="text-header-card abo">10 Abonnés &nbsp;  <ion-icon name="thumbs-up"></ion-icon> </span>
        </ion-card-header>
        <ion-card-content>
          <ion-row >
            <ion-icon  col-2 align="center">

            </ion-icon>
            <ion-icon  col-2>

            </ion-icon>
            <ion-icon  col-2>

            </ion-icon>
            <ion-icon  col-2>
              <button ion-button round slot="icon-only" color="light" class="del-i">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-icon>
            <ion-icon  col-2>
              <button ion-button round slot="icon-only" color="light" class="view-i">
                <ion-icon name="eye" ></ion-icon>
              </button>
            </ion-icon>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="card-market add-rounded">
      <ion-card>
        <ion-card-header>
          <span class="text-header-card">ROSAMI COTE DIVOIRE</span>
          <span class="text-header-card abo">10 Abonnés &nbsp;  <ion-icon name="thumbs-up"></ion-icon> </span>
        </ion-card-header>
        <ion-card-content>
          <ion-row >
            <ion-icon  col-2>

            </ion-icon>
            <ion-icon  col-2>

            </ion-icon>
            <ion-icon  col-2>

            </ion-icon>
            <ion-icon  col-2>
              <button ion-button round slot="icon-only" color="light" class="del-i">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-icon>
            <ion-icon  col-2>
              <button ion-button round slot="icon-only" color="light" class="view-i">
                <ion-icon name="eye" ></ion-icon>
              </button>
            </ion-icon>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>-->
  </ion-grid>

</ion-content>
