page-my-shop {
  .my-shop {
    position: relative;
    top: 0.5px;
  }

  .empty_market {    
    transform: translateY(70%);
    width: 80%;
    
  }

  .empty_market ion-icon {
    font-size: 65px;
    color: #155C7F;
  }

  .empty_market h1 {
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .empty_market button {
    
    
    border-radius: 25px;
  }
  
}


.add-rounded ion-card{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


.delete-color {
  color: white;
  font-size: 35px;
  margin-top: 2rem;  
}

.del-i {
  width: 100%;
  position: relative;
  top: 1px;
  font-size: 20px;
  margin-right: 3rem;
  background-color: #ffffffc2;
}

.view-i {
  width: 100%;
  position: relative;
  top: 1px;
  font-size: 20px;
  margin-left: 0rem;
  background-color: #ffffffc2;

  /*margin-right: 1rem;*/
}

.i-ab {
  font-size: 20px;
}


