<!--
  Generated template for the CreateBoutiquePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="lastagram">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-create-boutique">
  <ion-grid class="header-create-boutique">
    <ion-row class="">
      <ion-input type="text" name="nameMarket" [(ngModel)]="nameMarket" (ionChange)="save()" value="" placeholder="&nbsp; Nom de la boutique"></ion-input>
    </ion-row>
  </ion-grid>

  <ion-grid class="image-create-boutique" align="center" >
    <!--<h3 *ngIf="!base64Image" >PHOTO</h3>
    <h1 *ngIf="base64Image" >
      Choix fait
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </h1>
    <br>
    <ion-icon *ngIf="!base64Image" name="camera" ></ion-icon>-->

    <ion-slides >
      <ion-slide (click)="compressFile()">

        <h3 *ngIf="!base64Image" >PHOTO 1</h3>
        <h1 *ngIf="base64Image" >
          Choix fait
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </h1>
        <br>
        <ion-icon *ngIf="!base64Image" name="camera" ></ion-icon>

      </ion-slide>
      <ion-slide (click)="compressFile_2()">

        <h3 *ngIf="!base64Image2" >PHOTO 2</h3>
        <h1 *ngIf="base64Image2" >
          Choix fait
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </h1>
        <br>
        <ion-icon *ngIf="!base64Image2" name="camera" ></ion-icon>

      </ion-slide>
      <ion-slide (click)="compressFile_3()">

        <h3 *ngIf="!base64Image3" >PHOTO 3</h3>
        <h1 *ngIf="base64Image3" >
          Choix fait
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </h1>
        <br>
        <ion-icon *ngIf="!base64Image3" name="camera" ></ion-icon>

      </ion-slide>
    </ion-slides>

  </ion-grid>
  <ion-row class="defilement" align="center">
      <ion-col col-4>
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-col>
      <ion-col col-4>
        <b>Défilez</b>
      </ion-col>
      <ion-col col-4>
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-col>
    </ion-row>
  <ion-grid class=" catg-create-boutique">
    <ion-row>
      <ion-col class="add-create-boutique level-up-add" align="center" col-4 *ngIf="in" >
        <ion-icon name="add" (click)="goToAddCategory('1')"></ion-icon>
        <br>
      </ion-col>
      <ion-col class="add-create-boutique level-up-add" align="center" col-4 *ngIf="done" >
        <ion-icon name="checkmark-circle-outline" (click)="getProductInCatg(catg1,id1,'1')"></ion-icon>
        <br>
        <small>{{ catg1 }}</small>
      </ion-col>
      <ion-col class="add-create-boutique level-up-add" align="center" col-4 *ngIf="in1" >
        <ion-icon name="add" (click)="goToAddCategory('2')"></ion-icon>
        <br>
      </ion-col>
      <ion-col class="add-create-boutique level-up-add" align="center" col-4 *ngIf="done1" >
        <ion-icon name="checkmark-circle-outline" (click)="getProductInCatg(catg2,id2,'2')"></ion-icon>
        <br>
        <small>{{ catg2 }}</small>
      </ion-col>
      <ion-col class="add-create-boutique2 level-up-add ext" align="center" col-4 *ngIf="in2" >
        <ion-icon name="add" (click)="goToAddCategory('3')"></ion-icon>
        <br>
      </ion-col>
      <ion-col class="add-create-boutique2 level-up-add ext" align="center" col-4 *ngIf="done2" >
        <ion-icon name="checkmark-circle-outline" (click)="getProductInCatg(catg3,id3,'3')"></ion-icon>
        <br>
        <small>{{ catg3 }}</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="add-create-boutique " align="center" col-4 *ngIf="in3" >
        <ion-icon name="add" (click)="goToAddCategory('4')"></ion-icon>
        <br>
      </ion-col>
      <ion-col class="add-create-boutique " align="center" col-4 *ngIf="done3" >
        <ion-icon name="checkmark-circle-outline" (click)="getProductInCatg(catg4,id4,'4')"></ion-icon>
        <br>
        <small>{{ catg4 }}</small>
      </ion-col>
      <ion-col class="add-create-boutique " align="center" col-4 *ngIf="in4" >
        <ion-icon name="add" (click)="goToAddCategory('5')"></ion-icon>
        <br>
      </ion-col>
      <ion-col class="add-create-boutique " align="center" col-4 *ngIf="done4" >
        <ion-icon name="checkmark-circle-outline" (click)="getProductInCatg(catg5,id5,'5')"></ion-icon>
        <br>
        <small>{{ catg5 }}</small>
      </ion-col>
      <ion-col class="add-create-boutique2 ext" align="center" col-4 *ngIf="in5" >
        <ion-icon name="add" (click)="goToAddCategory('6')"></ion-icon>
        <br>
      </ion-col>
      <ion-col class="add-create-boutique2 ext" align="center" col-4 *ngIf="done5" >
        <ion-icon name="checkmark-circle-outline" (click)="getProductInCatg(catg6,id6,'6')"></ion-icon>
        <br>
        <small>{{ catg6 }}</small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="flash-create-boutique">
      <ion-col class="" col-6>
        <h4>Vente Flash</h4>
      </ion-col>
      <ion-col class="" col-4>
        <h3>{{ timer }}</h3>
      </ion-col>
      <ion-col class="" col-2>
        <button ion-button icon-only medium color="danger" (click)="presentPrompt()">
          <ion-icon name="md-clock"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="">
    <!--<ion-row class="product-flash-create-boutique">
      <ion-col class="" col-6 *ngIf="flash01" >
        <div class="photo" align="center" (click)="addProduct('flash','1')">
          <h3>PHOTO</h3>
        <ion-icon name="camera"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="" col-6 *ngIf="flash1" >
        <div class="photo" align="center" (click)="addProduct('flash','1')">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        <span>Ajouté !</span>
        </div>
      </ion-col>
      <ion-col class="" col-6 *ngIf="flash02">
        <div class="photo" align="center" (click)="addProduct('flash','2')">
          <h3>PHOTO</h3>
        <ion-icon name="camera"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="" col-6 *ngIf="flash2">
        <div class="photo" align="center" (click)="addProduct('flash','2')">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span>Ajouté !</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="product-flash-create-boutique">
      <ion-col class="" col-6 *ngIf="flash03">
        <div class="photo" align="center" (click)="addProduct('flash','3')">
          <h3>PHOTO</h3>
        <ion-icon name="camera"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="" col-6 *ngIf="flash3">
        <div class="photo" align="center" (click)="addProduct('flash','3')">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span>Ajouté !</span>
        </div>
      </ion-col>
      <ion-col class="" col-6 *ngIf="flash04">
        <div class="photo" align="center" (click)="addProduct('flash','4')">
          <h3>PHOTO</h3>
        <ion-icon name="camera"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="" col-6 *ngIf="flash4">
        <div class="photo" align="center" (click)="addProduct('flash','4')">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span>Ajouté !</span>
        </div>
      </ion-col>
    </ion-row>-->
    <ion-scroll scrollX="true" style="width:100vw; height:250px;" >
      <ion-row class="product-flash-create-boutique" nowrap>

        <ion-col class="" col-6 *ngIf="flash01" >
          <div class="photo" align="center" (click)="addProduct('flash','1')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash1" >
          <div class="photo" align="center" (click)="addProduct('flash','1')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash02">
          <div class="photo" align="center" (click)="addProduct('flash','2')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash2">
          <div class="photo" align="center" (click)="addProduct('flash','2')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash03">
          <div class="photo" align="center" (click)="addProduct('flash','3')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash3">
          <div class="photo" align="center" (click)="addProduct('flash','3')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash04">
          <div class="photo" align="center" (click)="addProduct('flash','4')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash4">
          <div class="photo" align="center" (click)="addProduct('flash','4')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash05">
          <div class="photo" align="center" (click)="addProduct('flash','5')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash5">
          <div class="photo" align="center" (click)="addProduct('flash','5')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash06">
          <div class="photo" align="center" (click)="addProduct('flash','6')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="flash6">
          <div class="photo" align="center" (click)="addProduct('flash','6')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>

      </ion-row>
    </ion-scroll>
    <ion-row class="defilement" align="center">
      <ion-col col-4>
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-col>
      <ion-col col-4>
        <b>Défilez</b>
      </ion-col>
      <ion-col col-4>
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="affiche-boutique" col-6>
        <ion-grid class="_1" (click)="compressFile2('1')">
          <h3 *ngIf="!decorImg1" >PHOTO</h3>
          <ion-icon name="camera" *ngIf="!decorImg1" ></ion-icon>

          <ion-icon *ngIf="decorImg1" name="checkmark-circle-outline"></ion-icon>
          <span *ngIf="decorImg1">Ajouté !</span>
        </ion-grid>
      </ion-col>
      <ion-col class="affiche-boutique" col-6>
        <ion-grid class="_2" (click)="compressFile2('2')">
          <h3 *ngIf="!decorImg2">PHOTO</h3>
          <ion-icon *ngIf="!decorImg2" name="camera"></ion-icon>

          <ion-icon *ngIf="decorImg2" name="checkmark-circle-outline"></ion-icon>
          <span *ngIf="decorImg2">Ajouté !</span>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="product-origin-create-boutique">
    <h3 class="p">Produits Populaires</h3>

    <ion-scroll scrollX="true" style="width:100vw; height:250px;" >

      <ion-row class="product-flash-create-boutique" nowrap>
        <ion-col class="" col-6 *ngIf="popular01" >
          <div class="photo" align="center" (click)="addProduct('populaire','1')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular1" >
          <div class="photo" align="center" (click)="addProduct('populaire','1')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular02">
          <div class="photo" align="center" (click)="addProduct('populaire','2')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular2">
          <div class="photo" align="center" (click)="addProduct('populaire','2')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular03">
          <div class="photo" align="center" (click)="addProduct('populaire','3')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular3">
          <div class="photo" align="center" (click)="addProduct('populaire','3')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular04">
          <div class="photo" align="center" (click)="addProduct('populaire','4')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular4">
          <div class="photo" align="center" (click)="addProduct('populaire','4')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular05">
          <div class="photo" align="center" (click)="addProduct('populaire','5')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular5">
          <div class="photo" align="center" (click)="addProduct('populaire','5')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular06">
          <div class="photo" align="center" (click)="addProduct('populaire','6')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="" col-6 *ngIf="popular6">
          <div class="photo" align="center" (click)="addProduct('populaire','6')">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Ajouté !</span>
          </div>
        </ion-col>
      </ion-row>

    </ion-scroll>

    <ion-row class="defilement" align="center">
      <ion-col col-4>
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-col>
      <ion-col col-4>
        <b>Défilez</b>
      </ion-col>
      <ion-col col-4>
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-grid>
    <ion-col class="affiche-boutique" col-12>
      <ion-grid class="_2" (click)="compressFile2('3')">
        <h3 *ngIf="!decorImg3">PHOTO</h3>
        <ion-icon *ngIf="!decorImg3" name="camera"></ion-icon>

        <ion-icon *ngIf="decorImg3" name="checkmark-circle-outline"></ion-icon>
        <span *ngIf="decorImg3" offset-3>Ajouté !</span>
      </ion-grid>
    </ion-col>
  </ion-grid>

  <p class="err_validation" *ngIf="error_validation" >{{ error_validation }}</p>

  <ion-grid class="">
    <ion-row class="">
      <ion-col class="">
      </ion-col>
      <ion-col class=" btn-validation">
        <button ion-button round color="lastagram" (click)="AddDevis()">VALIDER</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
