page-search-with-shop {
  .az {

    position: relative;
    bottom: 10px;
  }

  .b {

    font-size: small;
    position: relative;
    bottom: 10px;
  }

  .empty_cmd  {    
    position: relative;
    bottom: 45px;

  }

  .empty_cmd  ion-icon {
    font-size: 120px;
    margin-bottom: 10px;
    color: #155C7F;
  }

  .empty_cmd  p {
    color: gray;
    font-size: large;
    width: 50%;
  }
}


.az {


  position: relative;
  bottom: 15px;
  font-size: medium;
}
