page-search-with-shop {
  .az {

    position: relative;
    bottom: 10px;
  }

  .b {

    font-size: small;
    position: relative;
    bottom: 10px;
  }
}


.az {


  position: relative;
  bottom: 15px;
  font-size: medium;
}
