page-add-category {
  .div-to-btn {
    /*border: solid;*/
    width: 100%;
    margin-top: 2rem;
  }
}

.bg-container-ctg {
  background-color: rgba(253, 253, 253, 0.973);
}

.category-add-catg ion-col {
  border-width: 1px;
}

.category-add-catg ion-col ion-icon{
  font-size: 30px;
}

.contain-catg {
  border: solid 1px rgb(233, 230, 230);
  height: 90px;
  padding: 0.5rem;
  background-color: white;
}

.contain-catg img {
  width: 100%;
  height: 100%;
}



.btn-grid-add-catg {
  width: 50%;
}


.container-ctg {
  /*border: solid 1px;*/
  padding: 1.5rem;

}
