page-password-forget {

}

.mdp-forget-title {
  text-align: center;
}

.text-forget-password span{
  color: rgb(131, 129, 129);
}


.input-forget-password {
  margin-top: 3rem;
  box-shadow: 2px 2px 10px rgba(223, 222, 222, 0.555);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  margin-bottom: 2rem;
}

.input-forget-password ion-col ion-icon{
  margin-top: 0.2rem;
    font-size: xx-large;
}

.button-forget-password button{
  background-color: #155C7F;
  width: 100%;
}


