<!--
  Generated template for the LanguageSettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="lastagram">
    <ion-title>{{ "TITLE.lng" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <h3>{{ "OTHERS.lng_chg_tt" | translate }}</h3>
    </ion-grid>
    <hr>
    <!--<ion-grid class="bord choice-lng" align="center">
     <button ion-button round color="lastagram" *ngFor="let lng of languages" (click)="select(lng.value)">
        {{ lng.text }}
      </button>
    </ion-grid>-->

    <ion-grid class="lng">
      <ion-row *ngFor="let lng of languages" (click)="select(lng.value)">
        <ion-col col-5 align="center">
          <img src="{{ lng.flag }}" />
        </ion-col>
        <ion-col col-5 align="center">
          <span>
            {{ lng.text }}
          </span>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="md-checkmark" style="color:green" *ngIf="indic === lng.value"></ion-icon>
        </ion-col>
        
      </ion-row>
      
    </ion-grid>
</ion-content>
