page-product-of-category {

}
.img-search-prod {
  justify-self: center;
  width: 50%;
}

.search-img-0 {
  margin: 0.5rem;
  height: 150px;
  /*background-image: url('https://image.freepik.com/photos-gratuite/belle-elegance-mode-luxe-sac-main-femme-rose_1203-7653.jpg');*/
  background-size: cover;
}

.twoo {
  color: rgb(119, 83, 83);
  font-weight: 700;
}


.d-i {
  width: 70%;
  margin-top: 0.5rem;
}
