page-message-content {
  .img-mgs {
/*    border:solid black;*/
    margin-top: 1rem;

  }

  .avatar-mgs {
    margin-top: 1.3rem;
  }

  .avatar-mgs ion-item {
    background-color: transparent;
    width: 100%;
  }

  .avatar-mgs ion-item ion-title {
    text-overflow: ellipsis;
    width: 90%;
    position: relative;
    right: 2%;
  }

  .avatar-mgs ion-item ion-avatar {

    position: relative;
    right: 7%;
  }
}

.bg-content-message {
  background-color: rgba(253, 253, 253, 0.973);
}

.name-user-talked {
  font-size: 25px;
}


.grid-send-mgs {

  background-color: white;
  position: fixed;
  bottom: 50px;
}

.grid-send-mgs-0 ion-row  ion-col ion-icon{
  font-size: 25px;
  margin-top: 0.5rem;
}

.round{
  /*border: solid 1px;*/
  border-radius: 100%;
  width: 60%;
  background-color: rgba(236, 22, 22, 0.87);
}

.add-media {
  color: rgba(160, 159, 159, 0.877);
}

.send-mgs {
  color: rgba(236, 22, 22, 0.87);

}

.input-grid-mgs {
  /*border: solid;*/

}

.MessagesGrid {
  /*margin-top: 0;
  position: relative;
  bottom: 10px;
  overflow: auto;
  height: 502px;*/
  /*border: solid*/
}

.writing {
  position: relative;
  left: 3%;
}


.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  //white-space: pre-wrap;
}

.other-message {
  background-color: rgb(211, 209, 209);
  color: #000;
}


.my-message {
  background-color: #083a53;

  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}


.message-input {
  width: 90%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  resize: none;
  padding-left: 8px;
  padding-right: 8px;
}
