page-checkout {
  .ppp {
    height: 300px;
    overflow-y: auto;
  }
}

.text-lieu {
  font-weight: 400;
  white-space: pre-wrap;
}

.checkout-name {
  font-weight: 600;
  font-size: 10px;
}

.checkout-items {
  font-weight: 200;
  font-size: small;
}

.twoo2 {
  width: 100%;
  font-size: 12px;
}

.i {
  color: rgb(129, 127, 127);
}
