<!--
  Generated template for the ListOrderMePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="lastagram" hideBackButton="true">
    <ion-title>{{ "TITLE.my_order" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <h2 style="color: #155C7F">Boite de réception</h2>
  </ion-grid>
  <ion-grid *ngIf="datas.length === 0" >
    <div class="empty_cmd" align="center">
      <ion-icon name="md-basket"></ion-icon>
      <p>Pas de commandes ! </p>
    </div>
  </ion-grid>

  <ion-list no-lines>

    <ion-item *ngFor="let order of datas" (click)="goToDetailOrders(order.id_order)">
      <ion-avatar item-start>
        <img src="{{ order.owner.photo }}">
      </ion-avatar>
      <h2 style="text-transform: capitalize;">
        {{ order.owner.last_name + ' ' + order.owner.first_name }}
      </h2>
      <p>
        Côte d'ivoire / {{ order.owner.phone }}
        <small class="d">{{ order.time | date }}</small>
      </p>
    </ion-item>
    <hr>
    <!--<ion-item *ngFor="let order of datas" >
      <ion-row>
        <ion-col class="grid-text" (click)="goToDetailOrders(order.id_order)"  col-9>
          Une nouvelle commande de <b>{{ order.taille }} articles !</b>
        </ion-col>
      </ion-row>
      <hr>
  </ion-item>-->
    <!--<ion-item *ngFor="let article of articles" >
        {{ article.name }}
      <ion-icon class="esp" name="md-create" item-end (click)="modify(article)"></ion-icon>
      &nbsp;
      <ion-icon name="close-circle" item-end (click)="delete(article.id)"></ion-icon>
    </ion-item>
    <hr>-->

    <!--<ion-item>
        Herbology
      <ion-icon name="md-create" item-end></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-icon name="close-circle" item-end></ion-icon>
    </ion-item>
    <ion-item>
        Herbology
      <ion-icon name="md-create" item-end></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-icon name="close-circle" item-end></ion-icon>
    </ion-item>
    <ion-item>
        Herbology
      <ion-icon name="md-create" item-end></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-icon name="close-circle" item-end></ion-icon>
    </ion-item>-->

  </ion-list>
</ion-content>
