page-boutique {
  .zz {
    background-color: #fff;
  }

  .ctg-see {
    width: 100%;
    height: 100%;
   /* border-radius: 100%;*/
  }

  .pre-catg-boutique {
    border: solid 0.5px gray;

    border-top: none;
  }



  .pre-catg-boutique:nth-child(odd){
    border-left: none;
  }

  .pre-catg-boutique:nth-child(even){
    border-left: none;

  }


  .pre-catg-boutique:nth-child(3n){
    border-right: none;
  }


  .pre-catg-boutique:nth-child(2n + 4){
    border-bottom: none;
    /*border-right: solid 1px gray;*/
  }

  .pre-catg-boutique:nth-child(2n+5){
    border-bottom: none;

  }

  .pre-catg-boutique:last-child {
    border: solid 0.5px gray;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-top: none;
  }
}

.navbar-abo {
  height: 30px;
  background-color: #155C7F;
}

.navbar-abo ion-row p {
  position: relative;
  bottom: 22px;
  color: white;
  font-size: large;
  margin-left: 1rem;
}

.catg-boutique {
  /*border: solid 1px rgba(199, 199, 199, 0.795);
  border-radius: 100%;
  height: 80px;
  width: 90%;
  position: relative;
  left: 15%;
  margin-bottom: 5.5px;*/
}

.image-create-boutique-0 {
  height: 240px;
  padding: 0;
  background-size: cover;
}

.bg-boutique {
  background-color: rgba(253, 253, 253, 0.973);
}


.category-boutique {
  background-color: white;
}

.name-ctg {
  font-weight: 500;
}


.img-product {
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
  width: 52%;
  height: 120px;
}


.name-product {
  color: black;
  font-weight: 500;
}

.price-product {
  color: gray;
}

.contact-bar {
  background-color: #155C7F;
}

.contact-bar ion-row ion-col ion-icon{
  font-size: 40px;
}

.contact-bar ion-row ion-col span{
  color: white;
  margin-left: 1rem;
  position: relative;
  bottom: 10px;
}

.contact-bar ion-row ion-col:first-child {
  border-right: solid 1px white;
}


.couverture {
  width: 100%;
  height: 200px;
}


.modif {
  margin-left: 2rem;
}

.edit0 {
  color: white;
}

.edit1 {
  color: black;
  position: relative;
  bottom: 120px;
}

.product-visuel {
  border: solid;
}

.set_zero button{
  margin-top: 1.5rem;
}


.decoration {
  height: 180px;
  width: 100%;
  margin: 0;

}

.cadre {
  padding: 0;
  margin: 0;
}

.cadre ion-col {
  padding: 0;
  margin: 0;
}
