<!--
  Generated template for the BoutiquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true"  color="lastagram">
    <ion-title>
    </ion-title>


    <ion-title start>
      <button color="lastagram" ion-button icon-only (click)="ShowProfile()" style="box-shadow: none;">
        <ion-icon name="menu"></ion-icon>
      </button>
      <span style="position: relative; top: 6px">

        <span class="" *ngIf="isAdmin"><ion-icon name="md-create" class="edit0" (click)="modifyElt('name',Market.id)"></ion-icon></span>
        {{ Market.name }}

      </span>
    </ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="goToSearchMode()">
        <ion-icon name="search"></ion-icon>
      </button>
      <!-- espace -->
        &nbsp;&nbsp;
      <!-- end of espace -->
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="md-more"></ion-icon>
      </button>
      <!--<button ion-button icon-only (click)="showCart()">
        <ion-icon name="cart"></ion-icon>
      </button>-->
    </ion-buttons>
  </ion-navbar>
  <ion-grid class="navbar-abo" fullscreen>
      <ion-row color="lastagram" *ngIf="Market" >
        <p>
         <!--<ion-icon name="thumbs-up"></ion-icon> &nbsp; -->

       {{ Market.subscribers }} &nbsp; Abonnés
        </p>
      </ion-row>
  </ion-grid>

</ion-header>

<ion-content class="bg-boutique" fullscreen>
  <ion-grid class="image-create-boutique-0" align="center">
    <!--<h3>PHOTO</h3>
    <ion-icon name="camera"></ion-icon>-->
    <ion-slides *ngIf="Market.image_cover" autoplay="2000" loop="true" pager='true'>
      <ion-slide>
        <img [src]=Market.image_cover alt="" (click)="addCouvertImg(1)">
      </ion-slide>
      <ion-slide>
        <img [src]=Market.image_cover2 alt="" (click)="addCouvertImg(2)">
      </ion-slide>
      <ion-slide>
        <img [src]=Market.image_cover3 alt="" (click)="addCouvertImg(3)">
      </ion-slide>
    </ion-slides>
  </ion-grid>

  <ion-grid class="category-boutique">
    <ion-row class="" align="center">
      <ion-col class="" col-4 *ngFor="let catg of Market.detail_articles" >
        <div class="catg-boutique" (click)="GetProductByCtg(catg.id)" *ngIf="catg" >

        </div>
        <span class="name-ctg" *ngIf="catg !== null" >{{ catg.name }}</span>

        <ion-icon name="add" *ngIf="catg === null" ></ion-icon>

      </ion-col>
      <!--<ion-col class="" col-4>
        <div class="catg-boutique"></div>
      </ion-col>
      <ion-col class="" col-4>
        <div class="catg-boutique"></div>
      </ion-col>
    </ion-row>
    <ion-row class="" align="center">
      <ion-col class="" col-4>
        <div class="catg-boutique"></div>
      </ion-col>
      <ion-col class="" col-4>
        <div class="catg-boutique"></div>
      </ion-col>
      <ion-col class="" col-4>
        <div class="catg-boutique"></div>
      </ion-col>-->
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="flash-create-boutique">
      <ion-col class="" col-6>
        <h4>Vente Flash</h4>
      </ion-col>
      <ion-col class="" col-4>
        <h3>00:30:00</h3>
      </ion-col>
      <ion-col class="set_zero" col-2>
        <button ion-button icon-only color="danger" (click)="setToZero(Market.id)" small>
          <ion-icon name="clock"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="">
    <ion-scroll scrollX="true" style="width:100vw; height:250px;" >
      <ion-row class="product-flash-create-boutique" nowrap  >
        <ion-col  col-6 *ngFor="let p of Market.flash" >
          <div class="photo" align="center" *ngIf="p !== null"  (click)="Analyse(p,'flash')">
            <img src="{{ p.image_cover }}" class="img-product" alt="">
            <p class="name-product">{{ p.name }}</p>
            <p class="price-product">{{ p.price | number}} {{ Market.devis }}</p>
          </div>

          <div class="photo" align="center" *ngIf="p === null" (click)="AddNewProd('flash')">
            <h3>PHOTO</h3>
          <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-scroll>


  </ion-grid>

  <ion-grid class="">
    <ion-row class="cadre">
      <ion-col class="" col-6>
        <img class="decoration" *ngIf="Market.img_static_1"  src="{{ Market.img_static_1 }}" alt="" (click)="setImageDeco1(Market.id)">

        <h3 *ngIf="!Market.img_static_1" style="position: relative; left: 30%" >PHOTO</h3>
          <ion-icon name="camera" style="font-size:40px;position:relative;left:40%" *ngIf="!Market.img_static_1" (click)="setImageDeco1(Market.id)"></ion-icon>

      </ion-col>
      <ion-col class="" col-6>
        <img class="decoration" *ngIf="Market.img_static_2"  src="{{ Market.img_static_2 }}" alt="" (click)="setImageDeco2(Market.id)">

        <h3 *ngIf="!Market.img_static_2" style="position: relative; left: 30%" >PHOTO</h3>
          <ion-icon name="camera" style="font-size:40px;position:relative;left:40%" *ngIf="!Market.img_static_2" (click)="setImageDeco2(Market.id)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="product-origin-create-boutique">
    <h3 class="p">Produits Populaires</h3>

    <ion-scroll scrollX="true" style="width:100vw; height:250px;" >
      <ion-row class="product-flash-create-boutique" nowrap>
        <ion-col class="" col-6 *ngFor="let p2 of Market.popular" >
          <div class="photo" align="center" *ngIf="p2 !== null"  (click)="Analyse(p2,'popular')">
            <img src="{{ p2.image_cover }}" class="img-product" alt="">
            <p class="name-product">{{ p2.name }}</p>
            <p class="price-product">{{ p2.price  | number }} {{ Market.devis }}</p>
          </div>

          <div class="photo" align="center" *ngIf="p2 === null" (click)="AddNewProd('popular')">
            <h3 >PHOTO</h3>
          <ion-icon name="camera" ></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-scroll>


  </ion-grid>

  <ion-grid class="">
    <ion-row class="cadre">
      <ion-col class="" col-12 *ngIf="Market.img_decore" (click)="setImageDeco3(Market.id)">
        <img class="decoration" src="{{ Market.img_decore }}" alt="">
      </ion-col>
      <ion-col class="zz" col-12 *ngIf="!Market.img_decore" (click)="setImageDeco3(Market.id)">
          <h3 style="position: relative; left: 42%">PHOTO</h3>
          <ion-icon name="camera" style="font-size:40px;position: relative; left: 47%"></ion-icon>
          <br><br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br><br>

  <ion-grid class=" contact-bar">
    <ion-row class="">
      <ion-col class="" col-6 (click)="Message()">
        <ion-icon name="mail"></ion-icon>
        <span>MESSAGE</span>
      </ion-col>
      <ion-col class="" col-6 (click)="Call()">
        <ion-icon name="call"></ion-icon>
        <span>APPELLE-MOI</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
