page-my-orders {

}

.grid-text {
  overflow-wrap: break-word;
}

.time {
  color: grey;
  font-weight: 200;
}

.grid-text p  {
  position: relative;
  right: 1%;
  color: black;
  font-size: medium;
  white-space: pre-wrap;
}

.title {color: #155C7F;}
