page-list-prod {
  .t-add{
    height: 240px;
  }

  .t-add button {
    background-color: transparent;
    color: black;
    box-shadow: none;
    height: 100px;
    width: 70%;
    transform: translateY(50%);
  }

  .t-add button ion-icon{
    font-size: 75px;
  }

}

.esp {
  /*margin-right: 5rem;*/
  position: relative;
  right: 5%;
}

