page-search-with-product {

}

.img-search-prod {
  justify-self: center;
  width: 50%;
}

.search-img {
  margin: 0.5rem;
  height: 150px;
  background-image: url('https://image.freepik.com/photos-gratuite/belle-elegance-mode-luxe-sac-main-femme-rose_1203-7653.jpg');
  background-size: cover;
}

.twoo {
  color: black;
  font-weight: 700;
}
