page-search-with-product {
  .empty_cmd  {    
    position: relative;
    bottom: 45px;

  }

  .empty_cmd  ion-icon {
    font-size: 120px;
    margin-bottom: 10px;
    color: #155C7F;
  }

  .empty_cmd  p {
    color: gray;
    font-size: large;
    width: 50%;
  }
}

.img-search-prod {
  justify-self: center;
  width: 50%;
}

.search-img {
  margin: 0.5rem;
  height: 150px;
  background-image: url('https://image.freepik.com/photos-gratuite/belle-elegance-mode-luxe-sac-main-femme-rose_1203-7653.jpg');
  background-size: cover;
}

.twoo {
  color: black;
  font-weight: 700;
}
