page-home-product {
  .empty_cmd  {    
    position: relative;
    bottom: 45px;

  }

  .empty_cmd  ion-icon {
    font-size: 120px;
    margin-bottom: 10px;
    color: #155C7F;
  }

  .empty_cmd  p {
    color: gray;
    font-size: large;
    width: 50%;
  }
}
