page-password-validation {

}


.validation-password-grid {
  justify-content: center;
  align-items: center;
  transform: translateY(60%);
}


.validation-password-grid ion-icon {
  font-size: 80px;
  color: #155C7F;
  margin-bottom: 2rem;
}

.validation-password-grid h2 {
  color: #155C7F;
}
